@import "../../styles/variables";

.home-page {
  .landing-page {
    height: 100vh;
    background-color: $color-bg-secondary;
    padding-block: $space-xl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 10px;
  
    &__title {
      font-size: 2.5rem;
      font-weight: 800;
    }
  
    p {
      font-size: 1.2rem;
    }
  }

  &__posts {
    &__load-more {
      width: 120px;
      margin: 1rem auto 0;
    }
  }
}