@import "../../styles/variables";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-bg-secondary;
  padding: 2rem $space-xl;

  .subtitle {
    color: $color-primary;
    font-weight: 700;
    font-size: 1.5rem;
    transition: opacity 0.2s ease;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__description {
    font-size: 0.9rem;
    font-style: italic;
    color: $color-text-secondary;
  }

  &__socials {
    display: flex;
    column-gap: $space-sm;
  }

  &__social-link {
    background-color: $color-text;
    padding: 0.7rem;
    border-radius: 50%;
    transition: 0.4s;

    &:hover {
    }
  }

  &__social-icon {
    color: $color-bg;
    font-size: 1.3rem;
    display: block;
    line-height: 0;
  }
}
