@import "../../styles/variables";

.footer {
  display: grid;
  row-gap: 3rem;
  background-color: $color-bg-secondary;
  padding: 3rem $space-xl;

  &__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__left {
    width: 40%;
  }

  &__links {
    display: grid;
    row-gap: $space-sm;
    font-weight: 600;
  }

  &__socials-container {
    display: grid;
    row-gap: $space-sm;
  }

  &__socials {
    display: flex;
    column-gap: $space-sm;
  }
  
  &__social-link {
    background-color: $color-text;
    padding: .75rem;
    border-radius: 50%;
  }

  &__social-icon {
    color: $color-bg;
    font-size: 1.5rem;
    display: block;
    line-height: 0;
  }

  .copyrights {
    text-align: center;
  }
}
