@import "../../styles/variables";

.main {
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  width: 800px;
  height: 100vh;
  margin: auto;

  @media (max-width:800px) {
    width: 400px;
  }
  

  .email-section {
    .email-form {
      display: flex;
      flex-direction: column;
      position: relative;

      input{
        outline: none; 
        border-radius: 5px;
        padding: 10px;
        border: none;
        border-bottom: solid 2px black;
        background-color: $color-bg-secondary;
      }

      
      .input-icon {
        position: absolute;
        right: 60px;
        
      }
    }
  }

  .password-section {
    display: flex;
    flex-direction: column;

    .password-form {
      display: flex;
      flex-direction: column;
      position: relative;

      .pass-icon {
        position: absolute;
        right: 60px;
        top: 40%;
      }
      input{
        outline: none; 
        border-radius: 5px;
        padding: 10px;
        border: none;
        border-bottom: solid 2px black;
        background-color: $color-bg-secondary;
      }
    }

    .forgot-password {
      display: flex;
      justify-content: end;
    }
  }

  .button-section {
    margin-inline: auto;
    .custom-button{
      
      &:active{
        transform: scale(0.95);
      }
    }
    
  }
  
  .bold-text{
    color: black;
    font-weight: 700;
    cursor: pointer;
  }
}
