@import "../../styles/variables";

.show-menu {
  right: 0 !important;
}
/* yapılacaklar 
    3 çizgiye başta none var 
    media ile belli seviyeye gelince dışarı taşsın onu getir 
*/
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 10% 10px 10%;

  &__left {
    .navbar__logo {
      color: $color-primary;
      text-decoration: none;
      font-weight: 700;
      font-size: 1.5rem;
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    column-gap: 30px;
    
    ul {
      display: flex;
      list-style: none;
      column-gap: 30px;
    }

    button {
      opacity: 0;
      @media (max-width: 800px) {
        opacity: 1;
        z-index: 99;
      }
    }

    &__seeus {
      background-color: $color-primary;
      border-radius: $radius-md;
    }

    &__menu {
      display: flex;
      column-gap: 30px;

      //   position: absolute;
      //   right: -100%;
      //   top: 500px;

      @media (max-width: 800px) {
        position: absolute;
        right: -100%;
      }

      &.__show-menu {
        @media (max-width: 800px) {
          display: flex;
          flex-direction: column;
          right: 0;
          top: 0;
          gap: 10px;
          width: 40%;
          height: 100vh;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.266);
          padding: 2rem;
          background-color: white;

          ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
        }

        // position: static; // relative left right etkilemez absolute için base sağlar ama absolute diye dışardan müdahele etmeden önce base hali static
        // right: 0%;
        // top: 0px;
        // position: absolute;
        // right: -100%;
        // top: 500px;
      }
    }
  }
}
